<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calculeseuimc">

    <application
        android:allowBackup="true"
        android:icon="@drawable/balanca"
        android:label="Health Care"
        android:roundIcon="@drawable/balanca"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gui.NCDActivity"></activity>
        <activity android:name=".gui.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.MenuActivity" />
        <activity android:name=".gui.MainActivity"/>
        <activity android:name=".gui.ResultadoIMC" />
    </application>

</manifest>